<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="/assets/png/favicon.png"/>
	<link rel="stylesheet" href="/assets/css/index.css">
	<title>&lt;minimalist-quran&gt;</title>
</head>
<body>
	<script src="static/metadata.js"></script>
	<script src="static/index.js"></script>
	<h1>&lt;minimalist-quran&gt;</h1>
	<div id="surahsroot">
		<div class="title" id="surahstitle">
			Surahs
		</div>
		<div id="surahscontainer">
			<% for (i=1;i<115;i++) { %>
				<a class="surahcontainer" href="surah/<%= i %>">
					<span class="surahnumber">[ <%= i %> - <%= metadata.Sura[i][1] %> ]</span>
					<span class="surahinfo-root">
						<span class="surahinfo">
							<span class="surahtransliteration"><%= metadata.Sura[i][5] %></span>
							<span class="surahtranslation"><%= metadata.Sura[i][6] %></span>
							<span class="surahtype"><%= metadata.Sura[i][7] %></span>
						</span>
						<span class="surahtext"><span data-title="Surah">ﮌ</span><span data-title="Al-Faatiha">ﮍ</span></span>
					</span>
				</a>
			<% } %>
		</div>
	</div>
	<div id="juzsroot">
		<div class="title" id="juzstitle">
			'Ajzaa
		</div>
		<div id="juzscontainer">
			<div id="juz-section-1">
				<% for (juz_number=1;juz_number<25;juz_number++) { %>
					<%- include('/juz') %>
				<% } %>
			</div>
			<div id="juz-section-2">
				<% for (juz_number=25;juz_number<31;juz_number++) { %>
					<%- include('/juz') %>
				<% } %>
				<a/>
			</div>
		</div>
	</div>
	<div class="pagesroot">
		<div class="title pagestitle">
			Pages
		</div>
		<div class="pagescontainer">
			<input type="number" class="input-text" id="pagenumber" min="1" max ="604" onkeypress="gotoPageFromInput(event, gotoPage)">
			<input type="button" value="Go To Page" onclick="gotoPage()" class="pagenumber-button">
		</div>
	</div>
	<div class="pagesroot">
		<div class="title pagestitle">
			Surah Number / Verse Key to Page
		</div>
		<div class="pagescontainer">
			<input type="text" class="input-text" id="versekey" onkeypress="gotoPageFromInput(event, gotoPageFromVerseKey)">
			<input type="button" value="Go To Page" onclick="gotoPageFromVerseKey()" class="pagenumber-button">
		</div>
	</div>
</body>
</html>
