<% let verse_mapping = juzs[juz_number - 1]['verse_mapping'] %>
<% function getVerseKeyByNumber(number) { %>
	<% return Object.keys(verse_mapping)[number - 1] + ":" + Object.values(verse_mapping)[number - 1].split("-")[0] %>
<% } %>
<% function getVerseKeyById(id) { %>
	<% return Object.keys(verse_mapping)[id] + ":" + Object.values(verse_mapping)[index].split("-")[0] %>
<% } %>
<% let first_verse_key = getVerseKeyByNumber(1)  %>
<div class="juzcontainer">
	<a href="/page/<%= versekey_to_page[first_verse_key] %>" class="juz-number"><%= juz_number %></a>
	<% for (index in Object.keys(verse_mapping))  { %>
		<% let surah_number = Object.keys(verse_mapping)[index] %>
		<a class="juz-surahcontainer" href="/page/<%= versekey_to_page[getVerseKeyById(index)] %>">
			<span class="surahnumber juz-surahnumber">[ <%= surah_number %>: <%= Object.values(verse_mapping)[index] %> ]</span>
			<span class="surahinfo-root juz-surahinfo-root">
				<span class="surahinfo juz-surahinfo">
					<span class="surahtransliteration juz-surahtransliteration"><%= metadata.Sura[surah_number][5] %></span>
					<span class="surahtranslation juz-surahtranslation"><%= metadata.Sura[surah_number][6] %></span>
					<span class="surahtype juz-surahtype"><%=  %></span>
				</span>
				<span class="surahtext juz-surahtext"><span data-title="Surah">ﮌ</span><span data-title="<%= metadata.Sura[surah_number][5] %>"></span><%= surah_name[surah_number] %></span>
			</span>
		</a>
	<% } %>
</div>
