@font-face {
	font-family: "Andika New Basic";
	src: url("../fonts/english_font.ttf")
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("../fonts/ubuntu_mono.ttf")
}

@font-face {
	font-family: "DejaVuSans Mono";
	src: url("../fonts/dejavusans_mono.ttf")
}

@font-face {
	font-family: "Karla";
	src: url("../fonts/karla.ttf")
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/rubik.ttf")
}
@font-face {
	font-family: "Monaco";
	src: url("../fonts/monaco.ttf")
}

@font-face {
	font-family: "PDMS";
	src: url("../fonts/pdms.ttf")
}
