.navigator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2vmax 0;

	.navigatorbutton {
		font-size: 1.5vmax;
		color: var(--black);
		background: var(--blue-2);
		padding: 0.5vmax 1vmax;
		border-radius: 10px;
		text-decoration: none;
		transition: 200ms ease-out;

		&:hover {
			transform: scale(1.05);
		}
	}
}

@media (max-aspect-ratio: 1 / 1) {
	.navigator {
		margin: 3vmin 0;

		.navigatorbutton {
			font-size: 2vmin;
			padding: 0.75vmin 1.5vmin;
		}
	}
}
