:root {
	--black: #2e3440;
	--white: #eceff4;
	--gray: #3b4252;

	--blue-1: #5e81ac;
	--blue-2: #81a1c1;

	--cyan: #88c0d0;

	--green-1: #8fbcbb;
	--green-2: #a3be8c;

	--purple: #b48ead;
	--red: #bf616a;

	--orange: #d08770;
	--yellow: #ebcb8b;
}
