/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--gray);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--yellow);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--red);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}



#autoplay-container {
	position: fixed;
	top:0;
	right: 2%;
	padding: 1vmax;

	z-index: 10;
	background: var(--black);
}
#autoplay-text {
	display: flex;
	font-size: 1.25vmax;
	color: var(--blue-1);
}

@media (max-aspect-ratio: 1/1) {
	#autoplay-text {
		font-size: 2.5vmin;
	}
}
