@use "theme";
@use "fonts";
@use "qcf";
@use "navigator";

:root {
	overflow-x: hidden;
}

body {
	margin: 10vmax;
	padding: 5vmax;
	background: var(--black);
	font-family: "Rubik";
}




.surahcontainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.surahtext,
.bismillah {
	font-size: 6rem;
	font-family: "Bismillah";
}

.surahtext {
	color: var(--red);
}

.bismillah {
	color: var(--purple);
}

.number {
	color: var(--orange);
	font-size: 1.75rem;
	font-family: "Monaco";
}

.ayahtext {
	font-size: 4rem;
	font-family: "PDMS";

	color: var(--blue-1);

	text-align: right;
	direction: rtl;
}



@media (max-aspect-ratio: 1/1) {
	body {
		margin: 17.5vmin;
		margin: 2vmin;
		padding: 6vmin;
	}

	.surahtext,
	.bismillah {
		font-size: 10vmin;
	}

	.number {
		font-size: 3vmin;
	}

	.ayahtext {
		font-size: 6vmin;
	}

	.surahcontainer {
		flex-direction: column;
	}


}

// Overlay

[data-title] {
	cursor: pointer;
	position: relative;
	transition: 0ms 100ms ease-in;

	&:hover {
		color: var(--cyan);
	}

	&::after {
		content: attr(data-title);
		background-color: var(--black);
		color: var(--green-1);
		border: 1px solid var(--green-2);

		font-size: 1.8vmax;
		font-family: "Rubik";

		position: absolute;
		bottom: 110%;
		left: -10vmax;
		z-index: 99999;

		visibility: hidden;
		opacity: 0;

		text-align: left;
		direction: ltr;

		width: max-content;
		word-break: keep-all;

		padding: 2vmax;
	}

	&:hover::after {
		visibility: visible;
		opacity: 1;
		transition: 0ms 125ms ease-in;
	}
}

.surahcontainer,
.surahtext {
	[data-title] {
		&::after {
			color: var(--yellow);
		}
	}
}

@media (max-aspect-ratio: 1 / 1) {
	[data-title] {
		&::after {
			font-size: 3vmin;
			right: 1vmin;
		}
	}

	.surahcontainer {
		[data-title] {
			&::after {
				left: -10vmin;
			}
		}
	}
}

// Audio
audio {
	position: fixed;
}
