@use "theme";
@use "fonts";
@use "qcf";

body {
	margin: 6vmax 10vmax;
	padding: 3vmax 5vmax;
	background: var(--black);
	font-family: "Andika New Basic";
}

h1 {
	font-size: 5vmax;
	color: var(--orange);
	text-align: center;
}

.title {
	padding: 1vmax;
	font-size: 3vmax;
	font-family: "DejaVuSans Mono";
	color: var(--yellow);
	border: 4px solid var(--green-2);
	margin: 8vmax 0 4vmax 0;
}

// Surahs

#surahscontainer {
	padding: 1vmax;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-auto-flow: row;
	gap: 4vmax;
}

.surahcontainer {
	padding: 1vmax;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--green-2);
	font-family: "Karla";
	text-decoration: none;
	transition: 60ms ease-out;

	&:hover {
		transform: scale(1.03);
	}
}

.surahinfo-root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.surahnumber {
	font-size: 1.5vmax;
	font-family: "Andika New Basic";
	color: var(--purple);
	text-align: center;
	display: block;
	margin: 0 0 0.5vmax auto;
}

.surahinfo {
	display: flex;
	flex-direction: column;
}

.surahtransliteration {
	font-size: 1.75vmax;
	color: var(--green-1);
}

.surahtranslation {
	font-size: 1.25vmax;
	color: var(--blue-2);
}

.surahtype {
	font-size: 1.15vmax;
	font-family: "Ubuntu Mono";
	color: var(--blue-1);
}

.surahtext {
	font-size: 2vmax;
	font-family: "Bismillah";
	text-align: right;
	color: var(--red);
}

// Pages

input[type=number] {
	-moz-appearance: textfield;

	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}
}

.pagescontainer {
	display: flex;
	justify-content: space-evenly;

	* {
		font-size: 1.25vmax;
		font-family: "Andika New Basic";
		background: var(--black);
		color: var(--blue-2);
		padding: 0.5vmax 2vmax;
		height: 3vmax;
		width: 12vmax;
		border: 1px solid var(--green-2);
		transition: 125ms ease-in-out;

		&:focus {
			outline: none;
			border: 1px solid var(--green-1);
		}
	}
}

.input-text {
	padding: 1vmax;
}

.pagenumber-button {
	transition: 125ms ease-out;

	&:hover {
		transform: scale(1.05);
	}
}

@media (max-aspect-ratio: 1 / 1) {
	body {
		margin: 0;
		padding: 4vmin 8vmin;
	}

	h1 {
		font-size: 8vmin;
	}

	h2 {
		font-size: 5vmin;
	}

	.title {
		font-size: 4.5vmin;
		padding: 1vmin;
	}

	#surahscontainer {
		grid-template-columns: repeat(2, auto);
	}

	.surahnumber {
		font-size: 3vmin;
	}

	.surahtransliteration {
		font-size: 3vmin;
	}

	.surahtranslation {
		font-size: 2vmin;
	}

	.surahtype {
		font-size: 2vmin;

		// margin: 0 0 1vmin auto
	}

	.surahtext {
		font-size: 4vmin;
	}

	.pagescontainer {
		flex-direction: column;
		align-items: center;
		height: max-content;

		* {
			font-size: 3vmin;
			padding: 1vmin;
			margin: 4vmin;
			height: 7vmin;
			width: 24vmin;
		}
	}
}


// Juzs

#juzscontainer {
	display: grid;
	grid-template-columns: repeat(2, auto);
}

.juzcontainer {
	margin: 2vmax;
	padding: 2vmax;

	border: 3px solid var(--green-1);

}

.juz-number {
	margin-bottom: 0.5vmax;

	font-size: 1.5vmax;
	font-family: "DejaVuSans Mono";
	color: var(--yellow);
	text-decoration: none;

	&:hover {
		text-decoration: 2px solid underline;
	}
}

.juz-surahcontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	margin: 1.5vmax;
	padding: 1.5vmax;

	border: 1px solid var(--green-2);

	font-family: "Karla";
	text-decoration: none;
	text-align: left;

	background: var(--black);

	transition: 60ms ease-out;

	&:hover {
		transform: scale(1.03);
	}
}

.juz-surahnumber {
	margin: auto;
	font-size: 1.3vmax;
}

.juz-surahinfo-root {
	width: 100%;
}

.juz-surahtransliteration {
	font-size: 1.6vmax;
}




// Reverse media query because its fine in the other method
@media (max-aspect-ratio: 1/1) {

	.juzcontainer {
		margin: 1vmin;
		padding: 1vmin;
	}
	.juz-number {
		font-size: 3vmin;
	}

	.juz-surahnumber {
		font-size: 2vmin;
	}

	.juz-surahtransliteration {
		font-size: 2.2vmin;
	}

	.juz-surahtranslation {
		font-size: 2vmin;
	}
}
