@use "toggle";

body {
	padding: 0;
}

div {
	border: 1px solid var(--green-2);
	padding: 3vmax;
	margin: 2vmax 0;
}

.surahtranslation {
	font-size: 2.9vmax;
	color: var(--yellow);
}

.ayahtranslation {
	font-size: 1.5vmax;
	color: var(--green-1);
}

@media (max-aspect-ratio: 1 / 1) {
	div {
		padding: 6vmin;
		margin: 4vmin 0;
	}

	.surahtranslation {
		font-size: 4vmin;
	}

	.ayahtranslation {
		font-size: 3vmin;
	}
}


// Verse By Verse

.audio-container {
	display: flex;
	background: var(--black);
}

audio {
	position: static;
	width: 100%;

	background: var(--black);

	&:focus-visible {
		outline: none;
	}
}

audio::-webkit-media-controls-enclosure {
	background: var(--blue-1);
	border-radius: 0;
}
/* audio::-webkit-media-controls-play-button { */
/* 	color: red; */
/* } */
/* audio::-internal-media-controls-button-hover-background { */
/* 	background: var(--blue-2); */
/* } */
/* audio::-internal-media-controls-segmented-track { */
/* 	background: var(--blue-2); */
/* } */

/* input[pseudo="-webkit-media-controls-timeline" i]::-internal-media-controls-segmented-track { */
/* 	background: red; */
/* } */
