:root {
  --black: #2e3440;
  --white: #eceff4;
  --gray: #3b4252;
  --blue-1: #5e81ac;
  --blue-2: #81a1c1;
  --cyan: #88c0d0;
  --green-1: #8fbcbb;
  --green-2: #a3be8c;
  --purple: #b48ead;
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
}

@font-face {
  font-family: "Andika New Basic";
  src: url("../fonts/english_font.ttf");
}
@font-face {
  font-family: "Ubuntu Mono";
  src: url("../fonts/ubuntu_mono.ttf");
}
@font-face {
  font-family: "DejaVuSans Mono";
  src: url("../fonts/dejavusans_mono.ttf");
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik.ttf");
}
@font-face {
  font-family: "Monaco";
  src: url("../fonts/monaco.ttf");
}
@font-face {
  font-family: "PDMS";
  src: url("../fonts/pdms.ttf");
}
@font-face {
  font-family: "Bismillah";
  src: url("../fonts/QCF_BSML.ttf") format("truetype");
}
.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vmax 0;
}
.navigator .navigatorbutton {
  font-size: 1.5vmax;
  color: var(--black);
  background: var(--blue-2);
  padding: 0.5vmax 1vmax;
  border-radius: 10px;
  text-decoration: none;
  transition: 200ms ease-out;
}
.navigator .navigatorbutton:hover {
  transform: scale(1.05);
}

@media (max-aspect-ratio: 1/1) {
  .navigator {
    margin: 3vmin 0;
  }
  .navigator .navigatorbutton {
    font-size: 2vmin;
    padding: 0.75vmin 1.5vmin;
  }
}
:root {
  overflow-x: hidden;
}

body {
  margin: 10vmax;
  padding: 5vmax;
  background: var(--black);
  font-family: "Rubik";
}

.surahcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.surahtext,
.bismillah {
  font-size: 6rem;
  font-family: "Bismillah";
}

.surahtext {
  color: var(--red);
}

.bismillah {
  color: var(--purple);
}

.number {
  color: var(--orange);
  font-size: 1.75rem;
  font-family: "Monaco";
}

.ayahtext {
  font-size: 4rem;
  font-family: "PDMS";
  color: var(--blue-1);
  text-align: right;
  direction: rtl;
}

@media (max-aspect-ratio: 1/1) {
  body {
    margin: 17.5vmin;
    margin: 2vmin;
    padding: 6vmin;
  }

  .surahtext,
.bismillah {
    font-size: 10vmin;
  }

  .number {
    font-size: 3vmin;
  }

  .ayahtext {
    font-size: 6vmin;
  }

  .surahcontainer {
    flex-direction: column;
  }
}
[data-title] {
  cursor: pointer;
  position: relative;
  transition: 0ms 100ms ease-in;
}
[data-title]:hover {
  color: var(--cyan);
}
[data-title]::after {
  content: attr(data-title);
  background-color: var(--black);
  color: var(--green-1);
  border: 1px solid var(--green-2);
  font-size: 1.8vmax;
  font-family: "Rubik";
  position: absolute;
  bottom: 110%;
  left: -10vmax;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  direction: ltr;
  width: max-content;
  word-break: keep-all;
  padding: 2vmax;
}
[data-title]:hover::after {
  visibility: visible;
  opacity: 1;
  transition: 0ms 125ms ease-in;
}

.surahcontainer [data-title]::after,
.surahtext [data-title]::after {
  color: var(--yellow);
}

@media (max-aspect-ratio: 1/1) {
  [data-title]::after {
    font-size: 3vmin;
    right: 1vmin;
  }

  .surahcontainer [data-title]::after {
    left: -10vmin;
  }
}
audio {
  position: fixed;
}

/*# sourceMappingURL=common.css.map */
