/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--yellow);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--red);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#autoplay-container {
  position: fixed;
  top: 0;
  right: 2%;
  padding: 1vmax;
  z-index: 10;
  background: var(--black);
}

#autoplay-text {
  display: flex;
  font-size: 1.25vmax;
  color: var(--blue-1);
}

@media (max-aspect-ratio: 1/1) {
  #autoplay-text {
    font-size: 2.5vmin;
  }
}
body {
  padding: 0;
}

div {
  border: 1px solid var(--green-2);
  padding: 3vmax;
  margin: 2vmax 0;
}

.surahtranslation {
  font-size: 2.9vmax;
  color: var(--yellow);
}

.ayahtranslation {
  font-size: 1.5vmax;
  color: var(--green-1);
}

@media (max-aspect-ratio: 1/1) {
  div {
    padding: 6vmin;
    margin: 4vmin 0;
  }

  .surahtranslation {
    font-size: 4vmin;
  }

  .ayahtranslation {
    font-size: 3vmin;
  }
}
.audio-container {
  display: flex;
  background: var(--black);
}

audio {
  position: static;
  width: 100%;
  background: var(--black);
}
audio:focus-visible {
  outline: none;
}

audio::-webkit-media-controls-enclosure {
  background: var(--blue-1);
  border-radius: 0;
}

/* audio::-webkit-media-controls-play-button { */
/* 	color: red; */
/* } */
/* audio::-internal-media-controls-button-hover-background { */
/* 	background: var(--blue-2); */
/* } */
/* audio::-internal-media-controls-segmented-track { */
/* 	background: var(--blue-2); */
/* } */
/* input[pseudo="-webkit-media-controls-timeline" i]::-internal-media-controls-segmented-track { */
/* 	background: red; */
/* } */

/*# sourceMappingURL=surah.css.map */
