<% let surahdata = metadata.Sura[surah_number] %>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content=
	"text/html; charset=utf-8">
	<title>Surah <%= surah_number %>: <%= surahdata[5] %></title>
	<meta content="Surah <%= surah_number %>: <%= surahdata[5] %>" property="og:title">
	<meta content=
	"https://minimalist-quran.netlify.app/surah/<%= surah_number %>" property=
	"og:url">
	<meta content=
	"https://minimalist-quran.netlify.app/thumbnails/<%= surah_number.toString().padStart(3, '0')%>.jpg"
	property="og:image">
	<link rel="stylesheet" href="/assets/css/common.css">
	<link rel="stylesheet" href="/assets/css/surah.css">
	<link rel="icon" type="image/png" href="/assets/png/favicon.png">
	<meta content="A fast, colorful and minimalist Qur'an website."
	property="og:description">
	<meta content="#ebcb8b" data-react-helmet="true" name=
	"theme-color">
</head>
<body>
	<!-- JavaScript and Autoplay -->
	<script src="/assets/js/common.js"></script>
	<div id="autoplay-container">
		<span id="autoplay-text">Autoplay</span>
		<label class="switch" id="autoplay-switch">
			<input type="checkbox" checked onclick="toggleAutoplay(event)">
			<span class="slider">

			</span>
		</label>
	</div>


	<!-- Navigator -->
	<%- include('/surah/navigator')%>

	<!-- Surah -->
	<div class="surahcontainer">
		<span class="number">
			<%= surah_number %>
		</span>

		<% if ((surah_number in [1, 9])) {%>
		<span class="bismillah" data-title="In the name of Allah, the Most Gracious, the Most Merciful" onclick="playBismillah()">
			ó
		</span>
		<% } %>

		<span class="surahtext">
			<span data-title="Surah">ﮌ</span>
			<span data-title="<%= surahdata[5] %>">
				<%= surah_name[surah_number] %>
			</span>
		</span>
	</div>
	<div class="surahtranslation">
		<%= surahdata[6] %>
	</div>

	<!-- Ayahs -->
	<% for (ayah_number=1;ayah_number<=surahdata[1];ayah_number++) { %>
		<% let verse_key = surah_number + ":" + ayah_number %>
		<% let verse_key_extended = surah_number.toString().padStart(3, '0') + ayah_number.toString().padStart(3, '0') %>
		<% let verse_key_extended_next = surah_number.toString().padStart(3, '0') + (parseInt(ayah_number) + 1).toString().padStart(3, '0') %>

	<div class="ayahtext single-ayah" id="<%= ayah_number %>">

		<% for (word_number in indopak[verse_key])  {%>
			<% let audio_key = surah_number.toString().padStart(3, '0') + "_" + ayah_number.toString().padStart(3, '0') + "_" + (parseInt(word_number) + 1).toString().padStart(3, '0') %>

			<span onclick="playWord('<%= audio_key %>')" data-title="<%= words[verse_key][word_number]%>"><%= indopak[verse_key][word_number] %></span>
		<% } %>
	</div>
	<div class="audio-container">
		<audio onended="playNextVerse('<%= verse_key_extended_next %>', '<%= verse_key_extended %>')" onpause=
			"resetLastPlayedVerse(event)" id="verseaudio-<%= verse_key_extended %>" controls=""
			src="https://audio.qurancdn.com/Shatri/mp3/<%= verse_key_extended %>.mp3" preload=
			"none"></audio>
	</div>
	<div class="ayahtranslation">
		<span class="number">[<%= verse_key %>]</span>
		<br>
		<br>
		<%= translation[verse_key] %>
	</div>

	<% } %>

	<!-- Navigator -->
	<%- include('/surah/navigator') %>
</body>
</html>
